body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    text-align: center;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-button {
    background-color: #062f6d;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #4a75b5;
}

/*

Tablas
.my-table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
}

#header-row {
    background-color: #062f6d;
    color: #fff;
}

.even-row {
    background-color: #f2f2f2;
}

.odd-row {
    background-color: #ffffff;
}

.my-cell {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}*/

.btn-filtrar, .btn-limpiar {
    font-size: 16px; /* Tamaño del texto */
    padding: 12px 20px; /* Espaciado interno (alto y ancho del botón) */
    width: auto; /* Opcional, ajusta automáticamente el ancho al contenido */
    height: 50px; /* Altura del botón */
    border-radius: 5px; /* Bordes redondeados para mejor apariencia */
    cursor: pointer; /* Añade el icono de cursor para botones */
    transition: all 0.3s ease; /* Efecto suave al cambiar tamaño o hover */
}


.btn-filtrar:hover, .btn-limpiar:hover {
    background-color: #0056b3; /* Color de fondo al hacer hover */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}


.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.pagination-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.pagination-button:hover {
    background-color: #0056b3;
    color: white;
}

.pagination-button.active-page {
    background-color: #002a63;
    color: white;
    font-weight: bold;
    pointer-events: none;
    border: 1px solid #004080;
}

.pagination-dots {
    padding: 0 10px;
    font-size: 16px;
    color: #666;
    align-self: center;
}



